/* *{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f6f6f6;
    flex-direction: column;
}

.login{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #e6e6e6;
    padding: 20px 30px;
    width: 360px;
    height: min-content;
    font-family: sans-serif;
}

.login h1{
    text-align: center;
    margin: 10px 0;
}

.input-field{
    padding: 8px;
    border: 1px solid #e6e6e6;
    margin-top: 8px;
    border-radius: 2px;
}
input:focus {
  outline: none;
}

.login-btn{
    background-color: #5aa7e6;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px;
    margin-top: 10px;
}

.or{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.chiziq{
    height: 1px;
    width: 130px;
    background-color: #e6e6e6;
    margin-top: 6px;
}

.or p{
    color: #aba9a9;
    font-size: 12px;
}
.fb-link{
    font-weight: 600;
    color: #385185;
    text-align: center;
    margin-top: 15px;
}

.login a{
    color: #385185;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}  
.get-the-app{
    width: 360px;
}
.get-the-app p{
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    margin: 15px;
}
.images{
    display: flex;
}
.link-img{
    height: 45px;
} */
*{
    box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
.close:hover {
  background-color: #f44336;
  color: white;
}

.header {
  background-color: #f436e4;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}
input:focus {
  outline: none;
}
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
.addBtn:hover {
  background-color: #bbb;
}  